<header>
  <h1>Monthly Budget</h1>
</header> 
<body>
  <h2>Monthly Income: R2000</h2>
  <table id="t01">
    <tr>
      <th>Items</th>
      <th>Cost</th>
    </tr>
    <tr>
      <td>Transport</td>
      <td>R600</td>
    </tr>
    <tr>
      <td>Launch</td>
      <td>R300</td>
    </tr>
    <tr>
      <td>Savings</td>
      <td>R150</td>
    </tr>
    <tr>
      <td>Toiletries</td>
      <td>R350</td>
    </tr>
    <tr>
      <td>Airtime/Data</td>
      <td>R400</td>
    </tr>
    <tr>
      <td>Pocket Money</td>
      <td>R200</td>
    </tr>
    <tr>
      <td>Total Expenses</td>
      <td>R2000</td>
    </tr>
  </table>
</body>



